<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EditPassword</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>  <!--使用百度CDN引用JQuery-->
    <script>
        $(document).ready(function(){   //防止在文档完全加载完毕之前执行JQuery代码
            $("#check").click(function(){
                var checkSuccess = 0;
                if ($("#passwordNew").val() == []){
                    alert("新密码不能为空，请重试！");
                    checkSuccess = 0;
                }else{
                    checkSuccess++;
                }

                if (($("#passwordNew")).val() !== ($("#passwordNewRepeat")).val()){
                    alert("两次输入的新密码不一致，请重试！");
                    checkSuccess = 0;
                }else{
                    checkSuccess++;
                }

                if (checkSuccess == 2){
                    alert("验证通过，单击确认按钮进入完成修改（请不要在此时修改注册信息，以免发生错误）");
                    document.getElementById("send").style.visibility = "visible";
                    document.getElementById("passwordNew").style.visibility = "hidden";
                    document.getElementById("passwordNewRepeat").style.visibility = "hidden";
                }
            });
        });
    </script>
</head>
<body>
<form action = "/EditComplete" method = "post">
    新密码: <input id="passwordNew" type="password" name="userChangeInfo"><br>
    再次输入密码: <input id="passwordNewRepeat" type="password" name="passwordNewRepeat"><br>
    <input id="send" type="submit" value="确认修改" style="visibility:hidden">
</form>
<button id="check">验证</button>
</body>
</html>