<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EditUserInfo</title>
</head>
<body>
    <p>当前信息为：</p>
    <!--<p id="showInfo"></p>-->
    <p><%=title%></p>
    <form action = "/EditComplete" method = "post">
        更新后的信息：<input id="inputInfo" type="text" name="userChangeInfo"><br>
        <input type="submit" value="确认修改">
    </form>
</body>
</html>