<div class="label_item<%if(firstInCollection){%> firstitem <%}%>">
    <div class="label_username"><%=label.username%>
        <a href=<%=label.url%>><%=label.describe%></a>
    </div>
    <div class="label_realName"><%=label.realName%></div>
</div>