<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<a href="./accounts/login_user">普通用户登录</a><br>
<a href="./accounts/register">普通用户注册</a><br>
<a href="./accounts/login_super">管理员登录</a><br>
</body>
</html>